

* {
    padding: 0; margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: Arial black, sans-serif;
    font-size: 18px;
    background-color: #f4f4f4;
    min-height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/** List Container **/
.con {
    background-color: #4EA9A2;
    text-align: center;
    width: 600px; height: 500px;
    padding: 1.6rem;
    margin: 100px 0 0 0;
    border-radius: 0.3rem;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
}

/** Status **/
.con .status {
    height: 1rem; color: #fff;
    font-size: 0.8rem;
    color: #fff; 
    letter-spacing: 0.155rem;
    visibility: hidden;
}

.status-red { background-color: #f50000;}
.status-green {background-color: #044727;}

/** Heading **/
.con h2 {
    padding: 0.1rem 0 0.8rem 0;
    margin: 0 0 0.9rem 0;
    font-size: 1.8rem;
   
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}


/** Form **/
.con .form-control #grocery-item {
    height: 3rem; width: 20rem;
    border-radius: 0.2rem;
    border: none; outline: none;
    text-align: center;
    letter-spacing: 0.25rem;
    font-size: 1.8rem;
    font-family: Poppins, sans-serif;

}


/** Submit Button **/
.con .form-control .submit-btn {
    margin: 0.7rem 0 0 0;
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
    border: none; outline: none;
    background-color: #EA5553;
	text-transform: lowercase;
	font-size: 0.9rem;    
	letter-spacing: 0.2rem;
	color: #f2f2f2;
    cursor: pointer;
}

.con .form-control .submit-btn:active {
	background-color: #00e676;
}




/*** List ***/
.grocery-list {
    padding: 0.1rem;
    margin: 2rem 0 0.5rem 0;
    background-color: #fff;
    border-radius: 0.5rem;
    visibility: hidden; 
}

.grocery-list ul {
    list-style: none;
    margin: 0.3rem;
}

.grocery-list ul li {
    margin: 0.9rem 0;
    padding: 0.3rem;
    letter-spacing: 0.17rem;
    font-family: inter;
    color: #111;
    display: grid;
    grid-template-columns: 3fr 1fr;
}


/** Delete Button **/
.grocery-list ul li .btn-container button {
    height: 1.1rem; width: 1.5rem;
    padding: 0.1rem;
    border-radius: 0.1rem;
    border: none; outline: none;
    cursor: pointer;
}

.grocery-list ul li .btn-con button:first-child {
    color: #ff1744;
}
